@font-face {
  font-family: "Muli";
  src: url(./fonts/muli/Mulibold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Muli";
  src: url(./fonts/muli/Mulilight.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Muli";
  src: url(./fonts/muli/Muliregular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Muli";
  src: url(./fonts/muli/Mulisemibold.ttf) format("truetype");
  font-weight: 600;
}

$background-color: #e5e5e5;
$hard-black-color: #1f1534;
$black-color: #000;
$grey-color: #7d7987;
$white-color: #ffff;
$blue-color: #458ff6;

%img-parametrs {
  background-repeat: no-repeat;
  background-size: contain;
}
%decoration-line {
  border: 1px solid $black-color;
  border-radius: 5px;
  width: 56px;
  background-color: $black-color;
  margin: 26px 0 33px;
}
%btn-learn-more {
  font: 700 18px "Muli";
  color: $blue-color;
  width: 200px;
  border: 1.4px solid $blue-color;
  border-radius: 55px;
  padding: 20px 0;
  text-align: center;
}

* {
  background-color: $background-color;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Muli";
  font-style: normal;
  width: 1302px;
  margin: 56px auto 0;
}

// --------------------Header------------------

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    background-image: url(./assets/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 41px;
    margin-left: 56px;
  }

  nav {
    display: flex;

    p {
      font: 400 18px "Muli";
      color: $hard-black-color;
      opacity: 0.5;
      padding-right: 40px;

      &:last-child {
        padding-right: 29px;
      }

      &:hover {
        font: 700 18px "Muli";
        opacity: 1;
      }
    }
  }
}

// --------------------section-healthcare-----------------

.healthcare {
  margin-top: 86px;
  display: flex;
  justify-content: space-between;

  .healthcare__text {
    width: 441px;

    h1 {
      color: $black-color;
      font: 700 48px "Muli";
      margin-top: 106px;
    }
    p {
      font: 300 21px "Muli";
      color: $grey-color;
      margin-top: 25px;
    }
  }
  .healthcare__btn {
    text-align: center;
    color: $white-color;
    font: 700 18px "Muli";
    background-color: $blue-color;
    padding: 20px 0;
    width: 200px;
    border-radius: 55px;
    margin-top: 48px;
  }

  .healthcare__img {
    background-image: url(./assets/illustration.png);
    width: 693px;
    height: 598px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// --------------------section-Our-services-----------------

.Our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  .Our-services__text {
    margin-top: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h3 {
      font: 700 36px "Muli";
      color: $black-color;
    }
    div {
      @extend %decoration-line;
    }
    p {
      font: 300 18px "Muli";
      color: $grey-color;
      width: 952px;
    }
  }
  .Our-services__possibilities {
    margin-top: 80px;
    display: grid;
    grid-template-rows: 354px 354px;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 36px;
    justify-content: center;

    .Our-services__possibilities_item {
      .Our-services__possibilities_img1 {
        background-image: url(./assets/Search-doctor.png);
        @extend %img-parametrs;
        width: 92px;
        height: 90px;
        margin: 54px 0 22px 37px;
      }
      .Our-services__possibilities_img2 {
        background-image: url(./assets/online-pharmacy.png);
        @extend %img-parametrs;
        width: 62px;
        height: 85px;
        margin: 62px 0 19.41px 37px;
      }
      .Our-services__possibilities_img3 {
        background-image: url(./assets/consultation.png);
        @extend %img-parametrs;
        width: 68px;
        height: 95px;
        margin: 47px 0 24.41px 38px;
      }
      .Our-services__possibilities_img4 {
        background-image: url(./assets/details-info.png);
        @extend %img-parametrs;
        width: 67px;
        height: 95px;
        margin: 46px 0 25.41px 39.64px;
      }
      .Our-services__possibilities_img5 {
        background-image: url(./assets/emergency-care.png);
        @extend %img-parametrs;
        width: 80px;
        height: 72px;
        margin: 59px 0 36.25px 40px;
      }
      .Our-services__possibilities_img6 {
        background-image: url(./assets/tracking.png);
        @extend %img-parametrs;
        width: 70px;
        height: 95px;
        margin: 52px 0 19.41px 38px;
      }
      h4 {
        font: 700 24px "Muli";
        color: $black-color;
      }
      p {
        font: 300 16px "Muli";
        color: $grey-color;
        line-height: 28px;
        width: 262px;
        padding-top: 10px;
      }
    }
  }
  .Our-services__btn {
    @extend %btn-learn-more;
    margin-top: 72px;
  }
}

// --------------------section-description-----------------

.description {
  .description-leading {
    display: flex;
    margin-top: 220px;

    .description-leading__img {
      @extend %img-parametrs;
      background-image: url(./assets/description-leading__img.png);
      width: 650px;
      height: 477px;
    }
    .description-leading__text {
      width: 400px;
      margin: 57px 0 0 137px;

      h3 {
        font: 700 36px "Muli";
        color: $black-color;
      }
      .decoration-line {
        @extend %decoration-line;
      }
      p {
        font: 300 18px "Muli";
        color: $grey-color;
      }
      .btn {
        @extend %btn-learn-more;
        margin-top: 37px;
      }
    }
  }
  .description-app {
    display: flex;
    justify-content: end;
    margin-top: 229px;

    .description-app__text {
      width: 364px;
      margin: 36px 71px 0 0;
      h3 {
        font: 700 36px "Muli";
        color: $black-color;
      }
      .decoration-line {
        @extend %decoration-line;
      }
      p {
        font: 300 18px "Muli";
        color: $grey-color;
      }
      .btn {
        @extend %btn-learn-more;
        padding: 15px 0;
        margin-top: 40px;

        &::after{
          content: url(./assets/Vector.svg);
          padding-left: 15px; 
          vertical-align: middle
        }
      }
      
    }
    .description-app__img {
      @extend %img-parametrs;
      background-image: url(./assets/description-app__img.png);
      width: 665px;
      height: 434px;
    }
  }
}

// --------------------section-description-----------------
